<h1>Login</h1>
<form  action="/login" method="POST">
    <div>
        <lable for="email">Email</lable>
        <input id="email" type="email" name="email" required>
    </div>
    <div>
        <lable for="password">Password</lable>
        <input id="password" type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>